html,
body,
#canvas {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.watermark {
    top: 0;
    height: 500%;
    width: 500%;
    position: absolute;
    background-image: url('../img/watermark.png');
    background-size: auto; 
    background-repeat: repeat; 
    rotate: -45deg;
    opacity: 0.05;
    animation-name: watermarkanimation;
    animation-duration: 100s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;
}

@keyframes watermarkanimation {
    0%   {
      transform: translate(0%, -70%);
    }
    25%  {
      transform: translate(-10%, -70%);
    }
    50%  {
      transform: translate(-20%, -70%);
    }
    75% {
      transform: translate(-30%, -70%);
    }
    100% {
      transform: translate(-40%, -70%);
    }
}

#js-canvas {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}


#editor {
    width: 70%;
    height: 100%;
    background-color: #000;
    margin-left: auto;
    top: 0;
    position: fixed;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.75s ease-in-out;
    z-index: 999;
}

#editor.show {
    transform: translateX(0);
}

.editor-text-header {
    margin-top: 0.625rem;
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

#main-editor {
    background-color: #fff;
    height: 89%;
}

.ql-toolbar {
    display: none;
}

#close-button {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: #c8e5c9 !important; /* color elements as green */
}

#fullscreen-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 998;
}

.in-out {
    position: absolute;
    bottom: 0;
    z-index: 998;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-container {
    background-color: #fff;
    display: flex;
    gap: 20px;
    padding: 5px;
    border-radius: 10px;
}

#zoomin-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: color 0.5s ease;
}

#zoomin-icon:hover {
    color: #e90064;
}

#zoomout-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: color 0.5s ease;
}

#zoomout-icon:hover {
    color: #e90064;
}

#reset-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: color 0.5s ease;
}

#reset-icon:hover {
    color: #e90064;
}

/* Safari syntax */
:-webkit-full-screen {
    background-color: white;
}

/* IE11 */
:-ms-fullscreen {
    background-color: white;
}

/* Standard syntax */
:fullscreen {
    background-color: white;
}

/* Bỏ phần text bpmn.io */
.bjs-powered-by {
    display: none !important;
}