<!-- wp:heading -->
<h2 class="wp-block-heading">I. <span style="color: var(--theme-palette-color-4, #0f0f30);" class="stk-highlight">Thông
        tin chung</span></h2>
<!-- /wp:heading -->

<!-- wp:stackable/columns {"uniqueId":"d3755c8"} -->
<div class="wp-block-stackable-columns stk-block-columns stk-block stk-d3755c8" data-block-id="d3755c8">
    <div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-d3755c8-column">
        <!-- wp:stackable/column {"uniqueId":"b72d8b6"} -->
        <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-b72d8b6" data-v="4"
            data-block-id="b72d8b6">
            <div
                class="stk-column-wrapper stk-block-column__content stk-container stk-b72d8b6-container stk--no-background stk--no-padding">
                <div class="stk-block-content stk-inner-blocks stk-b72d8b6-inner-blocks">
                    <!-- wp:table {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black"} -->
                    <figure class="wp-block-table">
                        <table class="has-black-color has-text-color has-link-color">
                            <thead>
                                <tr>
                                    <th class="has-text-align-center" data-align="center"><span
                                            style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight"><strong>STT</strong></span></th>
                                    <th><strong><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                                class="stk-highlight"><strong><span
                                                        style="color: var(--theme-palette-color-4, #0f0f30);"
                                                        class="stk-highlight">Thông tin</span></strong></span></strong>
                                    </th>
                                    <th><strong>Nội dung chi tiết</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">1</td>
                                    <td><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight">Tên thủ
                                            tục</span></td>
                                    <td><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight">
                                            Thủ tục khai báo thiết bị X-quang chẩn đoán trong y tế.
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">2</td>
                                    <td><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight">
                                            2.002385
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">3</td>
                                    <td><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight">Số quyết
                                            định</span></td>
                                    <td><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight">
                                            1915/QĐ-BKHCN
                                        </span></td>
                                </tr>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">4</td>
                                    <td>Loại thủ tục</td>
                                    <td><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight">
                                            TTHC không được luật giao cho địa phương quy định hoặc quy định chi tiết
                                        </span></td>
                                </tr>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">5</td>
                                    <td>Lĩnh vực</td>
                                    <td><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight">
                                            An toàn bức xạ và hạt nhân
                                        </span></td>
                                </tr>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">6</td>
                                    <td>Cấp thực hiện</td>
                                    <td>
                                        Cấp Tỉnh
                                    </td>
                                </tr>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">7</td>
                                    <td>Đối tượng thực hiện</td>
                                    <td><span style="color: var(--theme-palette-color-4, #0f0f30);"
                                            class="stk-highlight">
                                            "Công dân Việt Nam, Người Việt Nam định cư ở nước ngoài, Người nước ngoài,
                                            Doanh nghiệp, Doanh nghiệp có vốn đầu tư nước ngoài, Tổ chức (không bao gồm
                                            doanh nghiệp, HTX), Tổ chức nước ngoài, Hợp tác xã"
                                        </span></td>
                                </tr>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">8</td>
                                    <td>Cơ quan thực hiện</td>
                                    <td>
                                        Ủy ban nhân dân cấp Tỉnh
                                    </td>
                                </tr>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">9</td>
                                    <td>Cơ quan có thẩm quyền</td>
                                    <td>
                                        Ủy ban nhân dân cấp Tỉnh
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Tham khảo</td>
                                    <td>Cổng Dịch vụ công quốc gia (<a
                                            href="https://dichvucong.gov.vn/p/home/dvc-chi-tiet-thu-tuc-hanh-chinh.html?ma_thu_tuc=2.002385">Xem
                                            thêm</a>)</td>
                                </tr>
                            </tbody>
                        </table>
                    </figure>
                    <!-- /wp:table -->
                </div>
            </div>
        </div>
        <!-- /wp:stackable/column -->
    </div>
</div>
<!-- /wp:stackable/columns -->

<!-- wp:heading -->
<h2 class="wp-block-heading">II. Căn cứ pháp lý</h2>
<!-- /wp:heading -->

<!-- wp:table {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black"} -->
<figure class="wp-block-table">
    <table class="has-black-color has-text-color has-link-color">
        <thead>
            <tr>
                <th class="has-text-align-center" data-align="center">STT</th>
                <th>Số ký hiệu </th>
                <th>Trích yếu </th>
                <th>Ngày ban hành </th>
                <th>Cơ quan ban hành </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="has-text-align-center" data-align="center">
                    1
                </td>
                <td><a href="/">18/2008/QH12</a></td>
                <td>
                    LUẬT Năng lượng nguyên tử
                </td>
                <td>
                    03-06-2008
                </td>
                <td>
                    Quốc Hội
                </td>
            </tr>
            <tr>
                <td class="has-text-align-center" data-align="center">
                    2
                </td>
                <td><a href="/">287/2016/TT-BTC</a></td>
                <td>
                    Thông tư 287/2016/TT-BTC
                </td>
                <td>
                    15-11-2016
                </td>
                <td>
                    Bộ Tài chính
                </td>
            </tr>
            <tr>
                <td class="has-text-align-center" data-align="center">
                    3
                </td>
                <td><a href="/">142/2020/NĐ-CP</a></td>
                <td>
                    Nghị định 142/2020/NĐ-CP
                </td>
                <td>
                    09-12-2020
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td class="has-text-align-center" data-align="center">
                    4
                </td>
                <td><a href="/">02/2022/TT-BKHCN</a></td>
                <td>
                    Thông tư 02/2022/TT-BKHCN
                </td>
                <td>
                    25-02-2022
                </td>
                <td>
                    Bộ Khoa học và Công nghệ
                </td>
            </tr>
            <tr>
                <td class="has-text-align-center" data-align="center">
                    5
                </td>
                <td><a href="/">13/2023/TT-BKHCN</a></td>
                <td>
                    Thông tư số 13/2023/TT-BKHCN ngày 30 tháng 6 năm 2023 của Bộ trưởng Bộ Khoa học và công nghệ bãi bỏ
                    một số văn bản quy phạm pháp luật do Bộ trưởng Bộ Khoa học và Công nghệ ban hành, liên tịch ban
                    hành.
                </td>
                <td>
                    30-06-2023
                </td>
                <td>
                    Bộ Khoa học và Công nghệ
                </td>
            </tr>
        </tbody>
    </table>
</figure>
<!-- /wp:table -->

<!-- wp:heading -->
<h2 class="wp-block-heading">III. Văn bản liên quan</h2>
<!-- /wp:heading -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><!-- wp:paragraph -->
    <p>Văn bản pháp lý</p>
    <!-- /wp:paragraph -->
</blockquote>
<!-- /wp:quote -->

<!-- wp:paragraph -->
<p>[dflip id="483" type="thumb"][/dflip]</p>
<!-- /wp:paragraph -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><!-- wp:paragraph -->
    <p>Biểu mẫu thực hiện</p>
    <!-- /wp:paragraph -->
</blockquote>
<!-- /wp:quote -->

<!-- wp:paragraph -->
<p>[dflip id="490" type="thumb"][/dflip] [dflip id="495" type="thumb"][/dflip]</p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2 class="wp-block-heading">IV. Thủ tục thực hiện</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><em>Click hoặc chạm vào từng bước để xem thông tin</em></p>
<!-- /wp:paragraph -->

<!-- wp:shortcode -->
[bpmn_shortcode]
<!-- /wp:shortcode -->

<!-- wp:heading -->
<h2 class="wp-block-heading">V. Cách thức &amp; lệ phí thực hiện</h2>
<!-- /wp:heading -->

<!-- wp:table {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","className":"is-style-regular"} -->
<figure class="wp-block-table is-style-regular">
    <table class="has-black-color has-text-color has-link-color">
        <thead>
            <tr>
                <th class="has-text-align-center" data-align="center">STT</th>
                <th>Hình thức nộp</th>
                <th>Thời hạn giải quyết</th>
                <th>Phí, lệ phí</th>
                <th>Mô tả</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="has-text-align-center" data-align="center">
                    0
                    </td>
                <td>
                    Trực tiếp
                </td>
                <td>
                    10 ngày làm việc
                </td>
                <td>
                    Lệ phí : 100000 Đồng....
                </td>
                <td>
                    10 ngày làm việc ....
                </td>
            </tr>
        </tbody>
    </table>
</figure>
<!-- /wp:table -->

<!-- wp:heading -->
<h2 class="wp-block-heading">VI. Thành phần hồ sơ</h2>
<!-- /wp:heading -->

<!-- wp:stackable/columns {"uniqueId":"c0b38b2","topSeparatorShow":false,"topSeparatorDesign":"curve-2","topSeparatorInverted":false,"topSeparatorFlipHorizontally":false,"topSeparatorBringToFront":false,"bottomSeparatorShow":false} -->
<div class="wp-block-stackable-columns stk-block-columns stk-block stk-c0b38b2" data-block-id="c0b38b2">
    <div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-c0b38b2-column">
        <!-- wp:stackable/column {"uniqueId":"aee7b9c"} -->
        <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-aee7b9c" data-v="4"
            data-block-id="aee7b9c">
            <div
                class="stk-column-wrapper stk-block-column__content stk-container stk-aee7b9c-container stk--no-background stk--no-padding">
                <div class="stk-block-content stk-inner-blocks stk-aee7b9c-inner-blocks">
                    <!-- wp:table {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black"} -->
                    <figure class="wp-block-table">
                        <table class="has-black-color has-text-color has-link-color">
                            <thead>
                                <tr>
                                    <th class="has-text-align-center" data-align="center">STT</th>
                                    <th><strong>Tên giấy tờ</strong></th>
                                    <th><strong>Mẫu đơn, tờ khai</strong></th>
                                    <th><strong>Số lượng</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="has-text-align-center" data-align="center">
                                        1
                                    </td>
                                    <td>
                                        Mau 07_KB thiet bi x quang
                                    </td>
                                    <td><a href="/">
                                            Mau 07_KB thiet bi x quang.doc
                                        </a></td>
                                    <td>
                                        – Bản chính:
                                        0
                                        <br>
                                        – Bản sao:
                                        0
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </figure>
                    <!-- /wp:table -->
                </div>
            </div>
        </div>
        <!-- /wp:stackable/column -->
    </div>
</div>
<!-- /wp:stackable/columns -->